html {
    font-size: 1rem;
}

body {
    
    background-image: none

}

main {
background-color: transparent;
   
}

header {
    background-color: black
}

div {
    background-color: transparent
}

.recuadro {

    width: 100%;
    height: 50px;
    background-color: #bababa;

}

ul {
    list-style: none ;
    font-weight: bold;
}

li a {
    text-decoration: none;
    color: azure;
}

nav {
    font-family: "Oswald", sans-serif;
    color:azure;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline;
  }
  
  a {
    padding: 26px;
    font-size: 18px;
    
  }

  h1 {
    font-family: "Trade Winds", system-ui;
    font-size: 2.5em;
    width: 100%;
    font-style: italic;
    color: rgb(14, 129, 243);
    margin-left: 30%;
}

h2 {

    color: #18a547;;
    font-size: 26px;
    font-family:'Times New Roman', Times, serif;
    text-decoration: underline;
}

#h3 {
   
        font-family: "Work Sans", sans-serif;
        font-size: 22px;
        font-style: normal;
        color: black;
      }


.pcolor {
    font-size: 20px;
    color: brown;

}

#pcolor {
    font-size: 18px;
    color: rgb(88, 194, 255); 

}

#h11 {
    color: rgb(150, 35, 6) !important;
    background-color: blanchedalmond;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }

.matias {
    color: #ff8800; ;
    font-size: 25px;
}


footer {
    background-color: black;
    color: rgb(88, 194, 255);  
}

.fa-instagram {
    padding: 10px;
    font-size: 30px;
    color: rgb(88, 194, 255); 
    
}

.fa-facebook {
    padding: 10px;
    font-size: 30px;
    color: rgb(88, 194, 255); 
}

.fa-whatsapp {
    padding: 10px;
    font-size: 30px;
    color: rgb(88, 194, 255); 
}

.fa-credit-card {
    font-size: 40px;
    color:azure;
 }